# pandas toturial part 2

what is going to be discussed is selecting specific values of a pandas DataFrame or Series to work on.

#### what is an accessors?
as it interoduce itself, it gives access; when a class has an accessor, it allows to the private members be accessible on other scopes. the most simple examole of an accessor function could be the 'getter' and 'setter' of a function. These below are a few sample of accessors:

In [1]:
import array 
     
arr = array.array('i', [5, 1, 3, 4, 2, 2, 7])
 
# Accesses the index of the value in argument
print (arr.index(2))
 
# Accesses the number of time the
# stated value is present
print (arr.count(2))
 
# Mutates the array list
(arr.append(19))
 
# Prints the array after alteration
print (arr)

4
2
array('i', [5, 1, 3, 4, 2, 2, 7, 19])

To learn more about the accessors, [read here](https://www.geeksforgeeks.org/accessor-and-mutator-methods-in-python/).

---

Native Python objects provide good ways of indexing data. Pandas carries all of these over.
here is how to Access an Attribute of a **class** Instance:
Use the dot notation (.):

In [31]:
class Book:
    def __init__(self, title, author):
        self.title = title    # instance attribute
        self.author = author  # instance attribute

    def get_info(self):
        return f"'{self.title}' by {self.author}"


my_book = Book("1984", "George Orwell")
my_book

In [4]:
my_book.title

'1984'

In [32]:
my_book.author

'George Orwell'

and here is a sample of accessing a Value in a Dictionary:
Use the bracket notation with a key (\['key']):

In [11]:
# my_book['title']
my_book = {
    'title': '1984',
    'author': 'George Orwell',
    'year': 1949
}

my_book

{'title': '1984', 'author': 'George Orwell', 'year': 1949}

In [12]:
my_book['title']

'1984'

In [30]:
my_book['author']

'George Orwell'

---
Now, what does python accessors have to do with **pandas**? 
the answer is here: the dataFrames uses the dame way:

In [20]:
import pandas as pd
arr = pd.DataFrame({'scores': [20, 19, 18, 17], 'students': ['sam', 'pam', 'jym', 'kim']}, index=['rank1', 'rank2', 'rank3', 'rank4'])
arr

       scores students
rank1      20      sam
rank2      19      pam
rank3      18      jym
rank4      17      kim

now let's see how to access the values:
both ways of using (.) and ([]) are avialble here!

In [21]:
arr.scores

rank1    20
rank2    19
rank3    18
rank4    17
Name: scores, dtype: int64

In [22]:
arr['scores']

rank1    20
rank2    19
rank3    18
rank4    17
Name: scores, dtype: int64

here is another fun usage of the ([]) notation: accessing a single value, using the second ([]) notation that indicates the row number.

In [24]:
arr['scores']['rank3']

18

this is another way to relate the DataFrames in pandas and simple dictionries in python:

In [33]:
my_dict = {
    'scores': [20, 19, 18, 17],
    'students': ['sam', 'pam', 'jym', 'kim'],
    'last Name': ['do', 're mi', 'fa', 'sol']
}

table = pd.DataFrame(my_dict, index=['rank1', 'rank2', 'rank3', 'rank4'])
table

       scores students last Name
rank1      20      sam        do
rank2      19      pam     re mi
rank3      18      jym        fa
rank4      17      kim       sol

here is a fun fact that shows a benefit of using ([]) rather that the (.): consider the last name that has an space (considerd as an special character). now the approach \['last Name'] is possible, but the .last Name is not possible!

In [34]:
table['last Name']

rank1       do
rank2    re mi
rank3       fa
rank4      sol
Name: last Name, dtype: object