# pandas portfolio part 4
in this session, the *group by* will be discussed.
Firstly let's ask a question: what does **grouping** some values together mean? the answer is not so far from mind; 

It means that the function collects all the rows in your DataFrame that have the same value in a particular column (or set of columns) and treats them as a single group. It does this for each unique value in that column. This is like sorting your data into different "bins" based on the values in that column.
checkout here:

In [2]:
import pandas as pd

In [10]:
data = {
    'Product': ['Apple', 'Apple', 'Banana', 'Banana', 'Banana', 'Cherry', 'Cherry', 'Cherry', 'Cherry', 'Banana', 'Apple', 'Cherry'],
    'Region': ['North', 'South', 'North', 'South', 'East', 'North', 'South', 'East', 'West', 'North', 'West', 'East'],
    'Sales': [200, 150, 100, 120, 130, 180, 170, 160, 190, 110, 160, 150],
    'Discount': [10, 15, 5, 10, 5, 20, 15, 10, 25, 0, 10, 20]
}

df = pd.DataFrame(data)
df

   Product Region  Sales  Discount
0    Apple  North    200        10
1    Apple  South    150        15
2   Banana  North    100         5
3   Banana  South    120        10
4   Banana   East    130         5
5   Cherry  North    180        20
6   Cherry  South    170        15
7   Cherry   East    160        10
8   Cherry   West    190        25
9   Banana  North    110         0
10   Apple   West    160        10
11  Cherry   East    150        20

Now according to that DataFrame, we got multiple repeated data in the column 'product'. let's see what happens if *groupby* is used by the column *product*:

In [18]:
df.groupby('Product')

#### oh, why did that not showed a dataframe with only non-repeated data?
When you use df.groupby('Product'), it doesn’t immediately show you the manipulated or grouped data because groupby only groups the data internally without performing any calculations or manipulations yet. It essentially prepares the data to be grouped but doesn't do anything with those groups until you tell it what to do.
#### so the function in the end of the sentence matters!

The groupby operation is just the first step. It’s like telling pandas, "Hey, I want to organize this data by the 'Product' column," but without telling it what to do with the organized data. Pandas is waiting for you to specify what operation you want to perform on these groups.

In [21]:
df.groupby('Product')['Sales'].sum()

Product
Apple     510
Banana    460
Cherry    850
Name: Sales, dtype: int64